/* CSS BY Matthew ADcock */

/* IMPORTED FONTS*/
/* IMPORT "INTER" FROM GOOGLE FONTS" */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Seymour+One&display=swap');




/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --blue: #007BFF;
    --red: #FF4500;
    --white: #EAEAEA;
    --black: #000000;
    --charcoal: #333333;
    --font: "Inter", sans-serif;
}

/* GLOBAL STYLES (MOBILE FIRST (SMALL) */

body{
    min-width: 400px;
    font-family: var(--font);
}

#header {
    background-color: var(--black);
    box-shadow: 0 5px 5px var(--blue);
    position: relative;
    z-index: 10;

}


/* ADD A DIV WITH THE CLASS OF CONTAINER TO EVERY CONTENT CONTAINER THIS IS ALLOW THE BASE ELEMENTS TO BE 100% WIDTH, BUT CONSTRAIN THE ACTUAL CONTENT TO 90% */
.container, .results-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


 #innovation    {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('images/vanguard-hero.jpg') no-repeat center center/cover;
    height: 80vh;
    display: grid;
    place-items: center;
    text-align: center;
    padding: 1rem;
    overflow: hidden;
}


nav{
    background-color: var(--black);
    justify-items: center;
    align-items: center;
    padding-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    z-index: 10;
    
}


nav ul{
    width: 100%;
    margin:0;
    padding:0;
    list-style:none;
    overflow:hidden;
    text-align:center;
    max-height: 0;
    grid-column-start: 2;
}

nav h2 {
    visibility:hidden;
    height:1px;
}

nav li a {
    display:block;
    font-family:sans-serif;
    font-size:1.5rem;
    padding:1rem;
    text-transform:uppercase;
    font-weight:bold;
    text-decoration:none;
    color: var(--blue);
    transition: background-color .3s ease-in;
}

nav a:hover, nav input:hover {
    background-color: var(--blue);
    color: var(--black);
}
nav label {
    cursor: pointer;
    display: inline-block;
    padding: 1.5rem 3em 1.5em 1.5em;
    user-select: none;
    grid-column-start: 2;
    justify-self: right;
    
}
/* BUILDS THE MIDDLE LINE OF THE HAMBURGER */
label span {
    background-color: white;
    display: block;
    height: .25rem;
    position: relative;
    transition: background-color .3s ease-out;
    width: 2rem;
}
/* BUILDS THE TOP AND BOTTOM LINES OF THE HAMBURGER*/
label span:before, label span:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: .75rem;
}
label span:after {
    top: -.75rem;
}
input {
  display:none;
}
/* ADDS HEIGHT THE NAV WHEN IT'S DROPPED DOWN */
input:checked ~ ul {
    max-height: 500px;
}
/* MAKES THE MIDDLE LINE OF THE HAMBURGER DISAPPEAR */
input:checked ~ label span {
    background: transparent;
}

input:checked ~ h1{
    grid-row: 1 / span 2;
}
/* ROTATES THE TOP LINE OF THE HAMBURGER INTO ONE SIDE OF THE X */
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
/* ROTATES THE BOTTOM LINE OF THE HAMBURGER INTO ONE SIDE OF THE X */
input:checked ~ label span:after {
    transform: rotate(45deg);
}
/* LOCATION OF THE HAMBURGER */
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 1em;
}
@media screen and (min-width: 600px){
  nav ul {
    overflow:visible;
    position:absolute;
    top: 1.5rem;
    left:.5rem;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
  }
  nav li a {
    display:inline-block;
}
  label span, input {
    display:none;
  }
}

h1::before {
    content: "";
    float: left;
    width: 3.75rem;
    height: 3.75rem;
    background: url('images/vanguard-logo.svg') no-repeat center/contain;
    padding-right: 1em;

}

h1{
    background-color: var(--black);
    color: var(--blue);
    font-size: 3em;
    font-weight: bolder;
    margin: 0.5em 0.5em 0.5em 0;
    display: flex;
    grid-row-start: 1;
    grid-column-start: 1;
    justify-self: left;
}

#innovation{
color: var(--white);
}

#innovation h2{
    font-size: 2.5em;
    font-weight: bolder;
    padding: 1em;
}

p{
    line-height: 1.5em;
    font-size: 1.35em;

}

#innovation div{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

button{
    padding: 1em;
    margin: 1.5em 1.5em 0 1.5em;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--white);
    background-color: var(--blue);
    border-radius: .5em;
    text-decoration: none;
    border: none;
    transition: background-color 0.2s;
    transition: 0.2s ease-in-out;
    
}

button:hover    {
    background-color: var(--red);
    transform: scale(1.05,1.05);
}

h2{
    font-size: 2.6em;
    font-weight: bold;
    padding: 1em 1em 0.75em 0.5em;
}

h3  {
    padding: 1em;
    font-size: 1.75em;
    font-weight: bold;
}



#offer{
    color: var(--white);
    display: grid;
    grid-template-columns: 1fr;
    gap:1em;
    padding-bottom: 5em;
}

#offer div{
    background-color: var(--blue);
    padding: 1em 1.5em 1em 1.5em;
    border-radius: 1em;
    transition: all 0.3s ease-in-out;
}

#offer div:hover{
    
    transform: translate(0, -10px);
}

#results    {
    background-color: var(--blue);
    color: var(--white);
    padding-bottom: 2em;
}

#results h3 {
    font-size: 2.75em;
    padding-left: 0.5em;
}

table   {
    margin: auto;
    background-color: var(--black);
}

th{
    font-weight: bold;
    background-color: var(--black);
}

th, td{
    padding: 1em 2.25em 1em 2.25em;
    font-size: 1.2em;
    text-align: center;
    border: 1px solid var(--charcoal);
}

tr:nth-child(odd)  {
    background-color: var(--charcoal);
}

#contact    {
    background-color: var(--black);
    color: var(--white);
}

form{
    font-size: 1.3em;
	margin: auto;
    padding: 1em 0 1em 0;
}

form label, form input, textarea   {
    display: inline-block;
    width: 98.5%;
    padding-bottom: 2em;
}

input, textarea{
    border: 3px solid var(--blue);
}

textarea    {
    height: 100px;
}

form label{
    padding: 1em 0 0.3em 0;
}

input:focus, textarea:focus{
    outline: 1px solid var(--blue);
}

#submit {
    width: 100%;
    margin: 2em auto;
    padding: 1em;
    font-size: 1em;
}

#footer{
    text-align: center;
    padding-bottom: 2em;

}

#footer a{
    text-decoration: underline;
    color: var(--blue);
}













#bar-chart {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: flex-end;
    justify-content: space-around;
    gap: 1rem;
    height: 300px;
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    position: relative;
}
/* ADD ON TRANSITION ON HEIGHT */
.bar {
    width: 50px;
    background: var(--charcoal);
    border-radius: 10px;
    position: relative;
    transition: max-height 0.5s ease-in-out;
    height: 0;
}
/* THIS ONE IS DONE FOR YOU */
.bar::after {
    content: attr(data-year);
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
}
@keyframes stepUp {
    0% {
        height: 0;
    }
    100% {
        height: var(--height);
    }
}

@keyframes fadeIn   {
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1, h2, h3, .button-wrapper{
    animation: fadeIn 1s ease-in-out forwards;
}
/* ADD ANIMATION ON stepUp for 1s ease-in-out forwards */
.bar    {
    animation: stepUp 1s ease-in-out forwards;
}


/* MEDIA QUERIES (MEDIUM) */ 
@media screen and (min-width: 800px)  {

    #results-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .results-container {
        flex-direction: row;
        justify-content: space-between;
    }
    .results-table {
        margin: auto;
        width: 95%;
        
    }
    .bar-chart {
        width: 50%;
    }

    #offer  {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
}

/* MEDIA QUERIES (LARGE) */

@media screen and (min-width: 1024px)  {

    #offer  {
        grid-template-columns: 1fr 1fr 1fr;
    }

    form    {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1em;
    }

    form div {
        flex: 1 1 400px;
    }

}
